<h2>Default:</h2>
<p>
  <code>&lt;ob-breadcrumb/&gt;</code>
</p>
<p><ob-breadcrumb /></p>

<h2>Max-width="5ch":</h2>
<p>
  <code>&lt;ob-breadcrumb maxWidth="5ch"/&gt;</code>
</p>
<p><ob-breadcrumb maxWidth="5ch" /></p>

<p>
  Try out the links below to see different features of the breadcrumb component
  in action.
</p>

<a href="/oblique-breadcrumb">breadcrumb</a><br />
<a href="/oblique-breadcrumb/some-page">breadcrumb/some-page</a><br />
<a href="/oblique-breadcrumb/some-page/some-sub-page"
  >breadcrumb/some-page/some-sub-page</a
><br />
